 <div class="col mt-3 ms-5">
    <div class="card shadow" style="width: 18rem;">
        <img [src]="photo" alt="" width="230px" height="220px" class="card-img-top">
         <div class="card-body">
             <h5 class="card-title">{{comment}}</h5>
             <p>{{commentaires}}</p>
             <input type="text"[(ngModel)]="commentaires">
             <div class="d-flex">
                <a href="#" class="btn btn-info mt-2 mx-2" (click)="addLike()">Like</a>
             <a href="#" class="btn btn-info mt-2 mx-2" (click)="disLike()">Like</a>
             </div>
             <span class="card-text">{{like}}</span>
             <h5> {{prix}} </h5>
             <h6 *ngIf="dispo==true"> disponible </h6>
             <h6 *ngIf="dispo==false"> indisponible </h6>
         </div>
</div>
 </div>
       
